.App {
  /* text-align: center; */
}
.navbar{
margin: 10px 40px 10px 40px
}
.searchSelect{
  display: flex;
  justify-content: space-between;
  margin: 10px 40px 10px 40px
}
.screen{

  background-color:rgb(182, 180, 174);
  width: 250px;
  margin: 5px 0px 10px 0px;
  height: 360px
}

.flag{
    width: 250px;
  }

.single{
text-align: center;
background: darkgray;
flex-direction: row

  }

  .singleFlag{
    width: 650px;
  }

  .darkgray {
    background:darkgray
  }


  /* body{
    color: #5b5757;
    background-color: #202d236;

  } */