.navbar{
  display: flex;
  justify-content: space-around;
  margin: 5px 50px 10px 80px
}
.searchSelect{
  display: flex;
  justify-content: space-between;
  margin: 10px 50px 10px 80px
}

.col-3{
    background:rgb(241, 238, 238)
}

.flag{
  margin: 10px 0px 10px 0px;
    width: 270px;
    height: 150px;
  }

.singleAll{
    display: flex;
    justify-content: center;
    text-align: center;
  }

.singleFlag{
    width: 350px;
  }

.backHome{
    display: flex;
    margin: 10px 750px 10px 0px
  }

.darkgray {
    background:darkgray
  }
